$open: 'Open Sans', sans-serif;
$pro: 'Source Sans Pro', sans-serif;
$basecolor: #6a7074;
$textcolor: #6a7074;
$menu-bg: #343542;
$menu-color: #8f9ca3;
$bg-color: #eceff1;

$color-success: #50c37f;
$color-danger: #ff5252;
$color-warning: #fb8c00;
$color-primary: #039be5;
$color-secondary: #b6b7b9;
$color-info: #67d7e8;
$color-dark: #343a40;
$color-light-dark: #252632;
$color-purple: #7e57c2;
$color-light: #78909c;
$color-white: #fff;

.chart {
	padding: 20px 20px 30px;
}
#graph-bar {
	clear: both;
	max-height: 200px;
	.morris-hover.morris-default-style .morris-hover-point {
		color: #000 !important;
	}
	path,
	text {
		display: none !important;
	}
}
#graph-line {
	clear: both;
	max-height: 200px;
	.morris-hover.morris-default-style .morris-hover-point {
		color: #000 !important;
	}
	text {
		display: none;
	}
}
.devices {
	display: block;
	margin: 40px 0 20px;
	padding: 0 23px 0 0;
	text-align: right;
	li {
		color: #78909c;
		display: inline-block;
		font-size: 14px;
		margin-left: 15px;
		text-align: left;
		&:first-child {
			margin-left: 0;
		}
		span {
			display: inline-block;
			height: 10px;
			width: 10px;
			margin-right: 10px;
		}
	}
}
.chart-text {
	color: $color-white;
	display: inline-block;
	padding: 0 0 40px;
	width: 100%;
	.chart-title {
		display: block;
		font-size: 18px;
	}
	.text {
		display: inline-block;
		font-size: 14px;
		margin: 10px 0 0;
	}
	.counter {
		font-family: $pro;
		font-size: 35px;
	}
}
.float-chart {
	height: 350px;
}
