{% extends 'base.html' %}

{% block content %}

    <div class="groups">
    <div class="connection"></div>
        <br>
    <div class="messages">

    </div>
        <br>
    <div class="form">
        <div>
            <input type="text" id="url" class="form-control">
        </div>
        <br>
        <div>
            <button onclick="on_connect()"  class="btn btn-primary">Connect</button>
            <button onclick="on_disconnect()"  class="btn btn-danger">Disconnect</button>
        </div>
        <br>
        <div>
            <textarea class="form-control" name="" id="message" cols="30" rows="10"></textarea>
        </div>
        <br>
        <div>
            <button onclick="on_send()" id="send" class="btn btn-primary">Send</button>
        </div>

    </div>

    </div>
{% endblock %}


{% block js %}

    <script>
    var socket = null;
    function socket_init(url) {
        socket = new WebSocket(url);
    }



function on_connect() {
    console.log("Connect");
    var url = $('#url').val();
    socket_init(url);
    socket.onopen = function() {
        $('.connection').html('<b>Online</b>');
      console.log("Соединение установлено.");

    };
    socket.onclose = function(event) {
        $('.connection').html('<b>Offline</b>');
      if (event.wasClean) {
        console.log('Соединение закрыто чисто');
      } else {
        console.log('Обрыв соединения'); // например, "убит" процесс сервера
      }
      console.log('Код: ' + event.code + ' причина: ' + event.reason);
    };

    socket.onmessage = function(event) {
        data = JSON.parse(event.data);
      console.log("Получены данные " + event.data);
      console.log(data.event);
      console.log(data.event === 'group.list');
      $('.messages').append(event.data);
      $('.messages').append("<br>");
    };
}

function on_send() {
    var message = $("#message").val();
    socket.send(message);
}
function on_disconnect() {
    socket.close();
}
    </script>
{% endblock js %}