.login-logo,
.register-logo {
  text-align: center; }
  .login-logo span,
  .register-logo span {
    color: #ffffff;
    font-size: 24px; }
  .login-logo a,
  .register-logo a {
    display: inline-block;
    margin: 0 auto;
    max-width: 130px; }

.login-content,
.register-content {
  margin: 10rem auto;
  max-width: 400px; }

.login-form,
.register-form {
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 30px 30px 20px;
  border-radius: 2px; }

.login-form h4,
.register-form h4 {
  color: #878787;
  text-align: center;
  margin-bottom: 50px; }

.login-form .checkbox,
.register-form .checkbox {
  color: #878787; }

.login-form .checkbox label,
.register-form .checkbox label {
  text-transform: none; }

.login-form .btn,
.register-form .btn {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 15px;
  border: 0px; }

.login-form label,
.register-form label {
  color: #878787;
  text-transform: capitalize; }

.login-form label a,
.register-form label a {
  color: #ff2e44; }

.social-login-content,
.social-register-content {
  margin: 0px -30px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 30px 0px;
  background: #fcfcfc; }

.social-button {
  padding: 0 30px; }
  .social-button .facebook {
    background: #3b5998;
    color: #fff; }
    .social-button .facebook:hover {
      background: #344e86; }
  .social-button .twitter {
    background: #00aced;
    color: #fff; }
    .social-button .twitter:hover {
      background: #0099d4; }

.social-button i {
  padding: 19px; }

.register-link a {
  color: #ff2e44; }

.error-wrapper h1 {
  color: #039be5;
  font-size: 10rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1; }
.error-wrapper .error-content {
  -webkit-columns: #fff;
          columns: #fff;
  padding: 3rem 0; }
  .error-wrapper .error-content h2 {
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase; }
  .error-wrapper .error-content p {
    color: #fff;
    font-size: 15px; }
.error-wrapper .back-btn {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  margin-top: 4rem;
  padding: 10px 25px;
  text-transform: uppercase; }
